<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- css -->
    <link rel="stylesheet" href="css/style3.css" type="text/css" />

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@700&display=swap"
      rel="stylesheet"
    />
    <!-- icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
    />

    <title>Challenge</title>
  </head>
  <body>
    <div class="page1 hero1" id="page1">
      <header>
        <nav class="navbar navbar-expand-lg navbar-dark navbar-bg">
          <div class="container-fluid">
            <div class="col-2 d-flex justify-content-center">
              <a class="navbar-brand nav-logo" href="#">LOGO</a>
            </div>

            <div class="col-5 mt-3 nav-other">
              <ul class="d-flex justify-content-center ul-style">
                <li class="me-3">
                  <a class="nav-link nav-home" href="#">HOME</a>
                </li>
                <li>
                  <a class="nav-link nav-home" href="#">WORK</a>
                </li>
                <li>
                  <a class="nav-link nav-home" href="#">CONTACT</a>
                </li>
                <li class="ms-2">
                  <a class="nav-link nav-home" href="#">ABOUT ME</a>
                </li>
              </ul>
            </div>
            <div class="col-5 mt-3 nav-other">
              <ul class="d-flex justify-content-center ul-style">
                <li>
                  <a class="nav-link nav-home" href="#">SIGN UP</a>
                </li>
                <li>
                  <a class="nav-link nav-home" href="#">LOGIN</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>

      <div class="container d-flex flex-column align-items-center content-home">
        <div>
          <h1 class="content-1">PLAY TRADITIONAL GAME</h1>
        </div>
        <div>
          <p class="content-2">Experience new traditional game play</p>
        </div>
        <a
          href="http://localhost:1234/game"
          class="button-1 btn d-flex justify-content-center align-items-center"
        >
          PLAY NOW
        </a>
      </div>
      <div class="container d-flex flex-column align-items-center footer-page1">
        <p class="the-story">THE STORY</p>
        <svg
          width="23"
          height="12"
          viewBox="0 0 23 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="drop-icon"
        >
          <path
            d="M21.5786 1.83362H1.32422L11.338 10.0027L21.5786 1.83362Z"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>

    <div class="page2 hero2" id="page2">
      <div class="row">
        <div class="col-3 d-flex flex-column left-column-page2">
          <p class="text1-page2">What's so special?</p>
          <h1 class="text2-page2">THE GAMES</h1>
        </div>
        <div class="col-9">
          <div class="carousel-page2">
            <div
              id="carouselExampleIndicators"
              class="carousel slide"
              data-bs-ride="true"
            >
              <div class="carousel-indicators">
                <button
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="0"
                  class="active"
                  aria-current="true"
                  aria-label="Slide 1"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="1"
                  aria-label="Slide 2"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="2"
                  aria-label="Slide 3"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="3"
                  aria-label="Slide 4"
                ></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="/img/rockpaperstrategy-1600.jpg"
                    class="d-block w-100"
                    alt="yeah"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="/img/rockpaperstrategy-1600.jpg"
                    class="d-block w-100"
                    alt="yeah"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="/img/rockpaperstrategy-1600.jpg"
                    class="d-block w-100"
                    alt="yeah"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="/img/rockpaperstrategy-1600.jpg"
                    class="d-block w-100"
                    alt="yeah"
                  />
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="page3 hero3" id="page3">
      <div class="row">
        <div class="col-6"></div>
        <div class="col-6 flex-column right-column-page3">
          <p class="text1-page3">What's so special?</p>
          <h1 class="text2-page3">FEATURES</h1>
          <div class="row">
            <div class="col-1">
              <div class="eclipse-1">
                <svg
                  width="17"
                  height="16"
                  viewBox="0 0 17 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle
                    cx="8.62158"
                    cy="7.78027"
                    r="7"
                    transform="rotate(90 8.62158 7.78027)"
                    fill="white"
                    stroke="white"
                    stroke-width="1.30637"
                  />
                </svg>
              </div>
              <div class="eclipse-2">
                <svg
                  width="16"
                  height="17"
                  viewBox="0 0 16 17"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle
                    cx="8.21436"
                    cy="8.54736"
                    r="7"
                    transform="rotate(90 8.21436 8.54736)"
                    stroke="white"
                    stroke-width="1.30637"
                  />
                </svg>
              </div>
              <div class="eclipse-3">
                <svg
                  width="16"
                  height="17"
                  viewBox="0 0 16 17"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle
                    cx="8.21436"
                    cy="8.54736"
                    r="7"
                    transform="rotate(90 8.21436 8.54736)"
                    stroke="white"
                    stroke-width="1.30637"
                  />
                </svg>
              </div>
            </div>
            <div class="col-11">
              <h3 class="bullet1-page3">TRADITIONAL GAMES</h3>
              <p class="subtext-bullet1-page3">
                If you miss your childhood, we provide many traditional games
                here
              </p>
              <h3 class="bullet2-page3">GAME SUIT</h3>
              <h3 class="bullet3-page3">TBD</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="page4 hero4" id="page4">
      <div class="container d-flex justify-content-center text1-page4">
        <p>Can My Computer Run this game?</p>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="text2-page4">
            <h1>SYSTEM</h1>
            <h1>REQUIREMENTS</h1>
            <div class="row row-page4">
              <div class="col-6 grid-border-page4">
                <h3 class="heading-tb-page4">OS:</h3>
                <p class="content-tb-page4">
                  Windows 7 64-bit only (No OSX support at this time)
                </p>
              </div>
              <div class="col-6 grid-border-page4">
                <h3 class="heading-tb-page4">Processor:</h3>
                <p class="content-tb-page4">
                  Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ
                </p>
              </div>
            </div>
            <div class="row row-page4">
              <div class="col-6 grid-border-page4">
                <h3 class="heading-tb-page4">MEMORY:</h3>
                <p class="content-tb-page4">4 GB RAM</p>
              </div>
              <div class="col-6 grid-border-page4">
                <h3 class="heading-tb-page4">STORAGE:</h3>
                <p class="content-tb-page4">8 GB available space</p>
              </div>
            </div>
            <div class="row row-page4">
              <div class="col-12 grid-border-page4">
                <h3 class="heading-tb-page4">GRAPHICS:</h3>
                <p class="content-tb-page4">
                  NVIDIA GeForce GTX 660 2GB or AMD Radeon HD 7850 2GB Direct
                  (Shader Model 5)
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6"></div>
      </div>
    </div>

    <div class="page5 hero5" id="page5">
      <div class="row">
        <div class="col-6 left-column-page5">
          <h1 class="heading-page5">TOP SCORES</h1>
          <p class="content-page5">
            This top score from various games provided on this platform
          </p>
          <div
            class="btn button-2 d-flex justify-content-center align-items-center"
          >
            See More
          </div>
        </div>
        <div class="col-6">
          <div class="card-padding">
            <div class="card card-1">
              <div class="card-body">
                <div class="d-flex">
                  <div class="d-flex">
                    <img
                      src="/img/evan-lahti.jpg"
                      alt="evan lathi"
                      class="img-card"
                    />
                  </div>
                  <div class="d-flex flex-column">
                    <h3 class="name-card">Evan Lahti</h3>
                    <p class="role-card">PC Gamer</p>
                  </div>
                </div>
                <p class="caption-card">
                  "One of my gaming higlights of the year."
                </p>
                <p class="date-card">June 18, 2021</p>
              </div>
            </div>
            <div class="card card-2">
              <div class="card-body">
                <div class="d-flex">
                  <div class="d-flex">
                    <img
                      src="/img/jada-griffin.jpg"
                      alt="evan lathi"
                      class="img-card"
                    />
                  </div>
                  <div class="d-flex flex-column">
                    <h3 class="name-card2">Jada Griffin</h3>
                    <p class="role-card2">PC Gamer</p>
                  </div>
                </div>
                <p class="caption-card2">
                  "The next big thing in the world of streaming and survival
                  games."
                </p>
                <p class="date-card">July 10, 2021</p>
              </div>
            </div>
            <div class="card card-3">
              <div class="card-body">
                <div class="d-flex">
                  <div class="d-flex">
                    <img
                      src="/img/aaron-williams.jpg"
                      alt="evan lathi"
                      class="img-card"
                    />
                  </div>
                  <div class="d-flex flex-column">
                    <h3 class="name-card2">Aaron Williams</h3>
                    <p class="role-card2">Uproxx</p>
                  </div>
                </div>
                <p class="caption-card2">
                  "Snoop Dogg Playing THe Wildly Entertaining 'SOS' Is
                  Ridiculous."
                </p>
                <p class="date-card">December 24, 2018</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="page6 hero6" id="page6">
      <div class="row">
        <div class="col-6 d-flex justify-content-center skull-image">
          <img src="/img/skull.png" alt="skull image" />
        </div>
        <div class="col-6 right right-column-page6">
          <h2 class="text1-page6">Want to stay in touch?</h2>
          <h1 class="text2-page6">NEWSLETTER SUBSCRIBE</h1>
          <p class="text3-page6">
            In order to start receiving our news, all you have to do is enter
            your email addres. Everything else will be taken care by us. We will
            send you emails containing information about game. We don't spam.
          </p>
          <div>
            <form>
              <div class="row button-and-form">
                <div class="col">
                  <input
                    type="text"
                    class="form-control-lg"
                    placeholder="Enter email"
                    name="email"
                  />
                </div>
                <div class="col">
                  <button type="submit" class="btn button-3">
                    Subscribe Now
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="margin-footer">
        <div
          class="d-flex justify-content-end footer1-page6 py-3 border-bottom border-white"
        >
          <a class="text-decoration-none text-white pe-3" href="#page1">MAIN</a>
          <a class="text-decoration-none text-white pe-3" href="">ABOUT</a>
          <a class="text-decoration-none text-white pe-3" href=""
            >GAME FEATURES</a
          >
          <a class="text-decoration-none text-white pe-3" href=""
            >SYSTEM REQUIREMENTS</a
          >
          <a class="text-decoration-none text-white pe-3" href="">QUOTES</a>
          <a class="text-decoration-none text-white pe-3" href=""
            ><img src="/img/facebook.svg" alt=""
          /></a>
          <a class="text-decoration-none text-white pe-3" href="/img/"
            ><img src="/img/twitter.svg" alt=""
          /></a>
          <a class="text-decoration-none text-white pe-3" href=""
            ><img src="/img/twitch.svg" alt=""
          /></a>
        </div>
        <div class="row margin-footer2">
          <div class="col-6">&copy; Your Games, Inc. All Right Reserved</div>
          <div class="col-6">
            PRIVACY POLICY | TERMS OF SERVICES | CODE OF CONDUCT
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
