<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- link bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
    />
    <!-- link css -->
    <!-- <link rel="stylesheet" href="style.css" /> -->
    <link href="/css/style4.css" rel="stylesheet" type="text/css" />
    <!-- link fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expandt"></nav>
      <div class="container-fluid">
        <div class="col-5 d-flex justify-content-between align-items-center">
          <a href="http://localhost:1234/homepage" class="nav-arrow nav-link"
            ><</a
          >
          <img src="/img/batu.png" alt="" class="nav-logo" />
          <h1 class="nav-rps">ROCK PAPER SCISSORS</h1>
        </div>
        <div class="col-7"></div>
      </div>
    </header>
    <div class="row">
      <div class="col-4 d-flex justify-content-end contentLeft">
        <div class="d-flex flex-column">
          <h2 class="side">PLAYER 1</h2>
          <img src="/img/batu.png" class="playerChoose" alt="Batu" id="batu" />
          <img
            src="/img/kertas.png"
            class="playerChoose"
            alt="Kertas"
            id="kertas"
          />
          <img
            src="/img/gunting.png"
            alt="Gunting"
            id="gunting"
            class="playerChoose"
          />
        </div>
      </div>
      <div class="col-4 d-flex justify-content-center vs align-items-center">
        <div id="boxHasil">
          <div id="result" class="result">VS</div>
        </div>
      </div>
      <div class="col-4 d-flex justify-content-start contentRight">
        <div class="d-flex flex-column">
          <h2 class="side">COM</h2>
          <img src="/img/batu.png" alt="Batu" id="gambar-batu" />
          <img src="/img/kertas.png" alt="Kertas" id="gambar-kertas" />
          <img src="/img/gunting.png" alt="Gunting" id="gambar-gunting" />
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <img src="/img/refresh.png" alt="Refresh Button" id="refreshButton" />
    </div>
    <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="script/script4.js"></script>
  </body>
</html>
